build/
src/Modules/SimplCommerce.Module.ActivityLog/obj/
src/Modules/SimplCommerce.Module.Catalog/bin/
src/Modules/SimplCommerce.Module.Catalog/obj/Debug/netcoreapp3.0/Razor/Areas/Catalog/Views/Shared/Components/CategoryWidget/Default.cshtml.g.cs
src/Modules/SimplCommerce.Module.Catalog/obj/
src/Modules/SimplCommerce.Module.Cms/bin/
src/Modules/SimplCommerce.Module.Cms/obj/
src/Modules/SimplCommerce.Module.Comments/bin/
src/Modules/SimplCommerce.Module.Comments/obj/
src/Modules/SimplCommerce.Module.Connection/bin/Release/netcoreapp3.0/SimplCommerce.Module.Connection.Views.pdb
src/Modules/SimplCommerce.Module.Connection/obj/
src/Modules/SimplCommerce.Module.Contacts/bin/
src/Modules/SimplCommerce.Module.Contacts/obj/
src/Modules/SimplCommerce.Module.ShippingFree/bin/
test/SimplCommerce.Module.Pricing.Tests/bin/
src/SimplCommerce.WebHost/obj/Release/netcoreapp3.0/PubTmp/Out/wwwroot/_content/SimplCommerce.Module.Core/admin/common/exception.js
src/SimplCommerce.WebHost/obj/
src/SimplCommerce.WebHost/bin/
